html {
    background-color: #131414;
}
body {
	font-weight: 500;
	line-height: calc(30 / 18);
	background-color: #131414;
	color: #e3d8c6;
	font-size: 18px;
	font-family: "729",Monospace;
	min-height: 80vh;
	padding: 0;
	margin: 0;
}
pre {
    padding-top: 5%;
    padding-left: 10%;
    font-size: 18px;
}
a {
	color: bisque;
	text-decoration: none;
}