body {
	font-weight: 500;
	line-height: calc(30 / 18);
	background-color: #131414;
	color: #e3d8c6;
	font-size: 18px;
	padding: 5% 10%;
    font-family: "729", Monospace;
    min-height: 80vh;
}

a {
	color: #0288d1;
	text-decoration: none
}

blockquote em,
h1,
h2,
h3,
h4,
strong,
th {
	font-weight: 600
}

h5,
h6 {
	font-weight: 700
}

h1,
h2 {
	margin-top: calc((60 / 18) * 1rem);
	font-family: inherit
}

h1 {
	margin-bottom: calc((60 / 18) * 1rem);
	font-size: 35px;
	line-height: calc(30 / 23);
	text-transform: uppercase;
	letter-spacing: .5px;
	text-align: center
}

h2 {
	margin-bottom: calc((30 / 18) * 1rem);
	font-size: 25px;
	line-height: calc(30 / 21);
	border-bottom: 1px solid #333
}

h3,
h4,
h5,
h6 {
	margin-top: calc((30 / 18) * 1rem);
	font-size: 1rem;
	font-family: inherit
}

h3,
h4,
h5 {
	margin-bottom: 0
}

h3,
h4 {
	line-height: calc(30 / 18)
}

h3 {
	font-size: 23px;
	color: lightskyblue;
}

h5,
h6 {
	line-height: normal
}

blockquote,
dl,
figure,
p,
pre,
table {
	margin: calc((30 / 18) * 1rem) auto 0
}

:not(pre)>code {
	padding: 2px 4px;
	background-color: #fbe5e1!important;
	color: #c0341d;
	border-radius: 4px
}

ol,
ul {
	padding-left: 15px
}

ul {
	list-style: none
}

ul>li:before {
	content: "• ";
	float: left;
	margin-left: calc((18 / 18) * -1rem)
}

pre {
	background-color: #2c323c;
	color: #f4f4f4;
	border-radius: 10px
}

table {
	table-layout: fixed;
	min-width: 60%;
	border-collapse: collapse;
	font-size: 16px;
	line-height: calc(24 / 15)
}

caption {
	border-bottom: 1px solid #e6e6e6;
	padding-top: calc((10 / 1080) * 100%);
	padding-bottom: calc((10 / 1080) * 100%);
	font-size: 1em
}

td,
th {
	margin-right: calc((30 / 1080) * 100%);
	padding: calc((10 / 1080) * 100%) 0 calc((10 / 1080) * 100%);
	vertical-align: top
}

th {
	border-bottom: 1px solid #00b3ff
}

tbody th,
td {
	border-top: 1px #9e9e9e solid;
	border-bottom: 1px #9e9e9e solid
}

blockquote ol,
blockquote ul {
	margin-left: calc((40 / 18) * -1rem)
}

blockquote {
	margin-left: calc((16 / 18) * -1rem);
	margin-right: calc((16 / 18) * -1rem);
	padding-left: calc((40 / 18) * 1rem);
	padding-right: calc((40 / 18) * 1rem);
	font-style: italic
}

blockquote em strong,
blockquote strong em {
	font-weight: 700
}

h1+:-webkit-any(h1, h2) {
	margin-top: calc((45 / 18) * -1rem)
}

h2+:-webkit-any(h1, h2) {
	margin-top: calc((15 / 18) * -1rem)
}

:-webkit-any(h1, h2, h3, h4, h5, h6)+:-webkit-any(h3, h4, h5, h6),
body>h6:first-child {
	margin-top: 0
}

strong {
	color: #e91e63;
	font-weight: 800
}

em {
	color: #f57c00;
	font-weight: 800;
	font-style: normal
}

s {
	text-decoration: none;
	color: #8e24aa;
	font-weight: 800
}

img {
	display: block;
	margin: auto;
}

li ol,
li ul {
	padding-left: 30px;
}

del {
	text-decoration: none;
	color: chartreuse;
}

.note {
	padding: 10px;
	background: rgba(76,175,80,.3);
	margin: 20px 0;
	border-left: 5px solid #006400;
	border-radius: 2px;
}

.summary {
	padding: 10px;
	background: rgba(251, 192, 15, 0.25);
	margin: 20px 0;
	border-left: 5px solid #ffb300;
	border-radius: 2px;
}