<!DOCTYPE html> 
<html> 

<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>{{.Slug}}</title>
    <link rel="stylesheet" href="/static/fonts.css">
	<link rel="stylesheet" href="/static/styles.css"> 
    <script defer src="/static/fontawesome.js"></script> 
</head> 


<body> 
    
    <nav class="navbar container has-shadow is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="fas fa-home"></i><span class="heading-large">&nbsp;Talisman</span>
            </a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <div class="content">{{.Body}}</div>
        </div>
    </section>

</body> 
</html>
